@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --primary-color: hsl(9, 92%, 47%);
  --secondary-color: hsl(182, 39%, 52%) --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(30, 41%, 32%);
  --bg-color: hsl(119, 100%, 29%);
  --bg-color-1: hsl(279, 82%, 57%);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(182, 39%, 52%);
  padding: 0.85em, 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

.nav-logo {
  margin-right: 70px;
  padding-left: 65px;
  margin-left: 30px;
  color: var(--color-white);
  margin-bottom: 2px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 30px;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.5s ease;
  flex: 1;
  text-align: center;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: hsl(182, 39%, 52%);
  transition: width 0.5s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.nav-link:hover::after {
  background-color: hsl(119, 100%, 29%);
}

.nav-links li {
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: hsl(182, 39%, 52%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  padding-block: 30px;
  border-radius: 8px;
  animation: fadeIn 0.5s;
}

.dropdown-menu li {
  padding: 10px;
  list-style: none;
  text-align: left;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.dropdown-menu a:hover {
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Style the nav-toggle */
.nav-toggle {
  display: none;
}


/* Mobile Nav */

/* Show nav-links when nav-toggle is clicked */
.nav-toggle.active+.nav-links {
  display: block;
  transform: translateY(0);
}

/* Style the nav-toggle */
.nav-toggle {
  display: none;
}

/* Hide close-nav by default and show it when nav-toggle is clicked */

.nav-toggle #close-nav {
  display: none;
}

.nav-toggle.active #open-nav {
  display: none;
}

.nav-toggle.active #close-nav {
  display: block;
}

/* Mobile Media Query */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: hsl(182, 39%, 52%);
    z-index: -999;
    transition: all 1s ease-in-out;
  }

  .nav-logo {
    margin-right: 50px;
    padding-left: 45px;
    margin-left: 10px;
    color: var(--color-white);
    margin-bottom: 2px;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    transition: all 1s ease-in-out;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    color: white;
    margin-right: 20px;
  }

  .dropdown-menu {
    display: none;
    position: relative;
    background-color: hsl(182, 39%, 52%);
    padding: 10px;
    width: 50%;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu li {
    width: 100%;
  }

  .dropdown-menu a {
    width: 100%;
    display: block;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .nav-logo {
    margin-right: 30px;
    padding-left: 35px;
    margin-left: 5px;
    color: var(--color-white);
    margin-bottom: 2px;
  }
}


/* Search bar */

.search-container {
  max-width: 180px;
  margin-right: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f7f7f7a5;
  border: 1px solid #cccccc9c;
  border-radius: 15px;
  padding: 4px;
  height: 45px;
}

.search-bar input[type="search"] {
  flex: 1;
  padding: 6px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 10px;
  height: 30px;
}

.search-bar button.search-icon {
  background-color: transparent;
  border: none;
  padding: 8px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search-bar button.search-icon i {
  font-size: 14px;
  color: #181818;
}

.search-bar button.search-icon:hover {
  background-color: #f2f2f2cf;
}

.search-bar button.search-icon:hover i {
  color: #333;
}

@media (max-width: 768px) {
  .search-container {
    max-width: 150px;
    margin-right: 50px;
  }

  .search-bar {
    padding: 5px;
    height: 30px;
  }

  .search-bar input[type="search"] {
    padding: 5px;
    font-size: 8px;
  }

  .search-bar button.search-icon {
    padding: 4px;
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .search-container {
    max-width: 120px;
    margin-right: 20px;
  }

  .search-bar {
    padding: 4px;
    height: 16px;
  }

  .search-bar input[type="search"] {
    padding: 1px;
    height: 15px;
    font-size: 5px;
  }

  .search-bar button.search-icon {
    padding: 1px;
    font-size: 2px;
  }
}


/*Desktop Slider */

.slider-container {
  width: 48vw;
  height: 50vh;
  margin: 90px 0 0 100px;
  position: relative;
  display: inline-block;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out;
  animation: slide-in 1s ease-in-out;
}

.slide.active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.slide:not(.active) {
  opacity: 0;
  transform: translateX(100%);
  animation: fadeOut 1s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.091);
  color: #131313;
  border-radius: 5px;
}

.slide-content h2 {
  font-size: 24px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
}

.slide-content button {
  background-color: #ed1414;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev {
  left: 0;
  position: absolute;
}

.next {
  right: 0;
  position: absolute;
}

.prev,
.next {
  background-color: transparent;
  border: 1px solid rgb(189, 188, 188);
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.prev i,
.next i {
  color: #f8f8f8;
}

.prev:hover i,
.next:hover i {
  color: #ccc;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #333;
}

/* Add animation effects for pagination */
.pagination-item {
  transition: background-color 0.3s ease;
}

.pagination-item:hover {
  background-color: #444;
}

.pagination-item.active {
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


/* Media Query for slider */
@media (max-width: 768px) {
  .slider-container {
    width: 90vw;
    height: 40vh;
    margin: 40px 0 0 10px;
    margin-top: 100px;
  }

  .prev,
  .next {
    display: none;
  }

  .card-container {
    display: block;
    margin-left: 0;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .slider-container {
    width: 90vw;
    height: 30vh;
    margin: 20px 0 0 10px;
    margin-top: 100px;
  }

  .prev,
  .next {
    display: none;
  }

  .card-container {
    display: block;
    margin-left: 0;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}



/* Offers */
.card-container {
  width: 35vw;
  height: 55vh;
  margin: 90px auto;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.027);
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card {
  width: 100%;
  height: 98px;
  background-color: #ffffff4d;
  padding: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.034);
  transition: transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.card:hover .card-title {
  color: #4e4c4c;
}

.card-image {
  flex: 3;
  width: 100%;
  height: 95px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-image {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .card-container {
    width: 90vw;
    display: block;
    margin-left: 0;
    margin: 10px auto;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .card-container {
    width: 90vw;
    display: block;
    margin-left: 0;
    margin: 10px auto;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}